<div class="create-brand-container">
  <button class="btn-back" (click)="goBack()">
    <i class="fa-solid fa-arrow-left"></i>
    Volver
  </button>

  <h1 class="create-brand-title">CREAR NUEVA MARCA</h1>

  <form [formGroup]="createBrandForm" (ngSubmit)="onSubmit()" class="create-brand-form">
    <div class="first-group">
      <div class="input-group">
        <label>Nombre de la Marca</label>
        <input type="text" formControlName="name" placeholder="Ej: TechStore Perú">
        <app-input-error [message]="'Escribe el nombre de la marca'" [show]="!!(createBrandForm.get('name')?.invalid && createBrandForm.get('name')?.touched)"></app-input-error>
      </div>

      <div class="input-group">
        <label>Subdominio</label>
        <input type="text" formControlName="subdomain" placeholder="Ej: techstore">
        <app-input-error [message]="'Escribe el subdominio de la marca'" [show]="!!(createBrandForm.get('subdomain')?.invalid && createBrandForm.get('subdomain')?.touched)"></app-input-error>
        <app-input-error [message]="error" [show]="error.length > 0"></app-input-error>
      </div>

      <div class="input-group">
        <label>Descripción</label>
        <textarea formControlName="description" placeholder="Describe tu marca (opcional)"></textarea>
      </div>
    </div>

    <div class="second-group">
      <div class="input-group">
        <label>Categoría de Negocio</label>
        <app-custom-select
          [options]="categories"
          [selected]="createBrandForm.get('businessCategory')?.value"
          (optionSelected)="onCategorySelected($event)"
        ></app-custom-select>
        <app-input-error [message]="'Selecciona una categoría'" [show]="!!(createBrandForm.get('businessCategory')?.invalid && createBrandForm.get('businessCategory')?.touched)"></app-input-error>
      </div>

      <div class="input-group">
        <label>Idioma</label>
        <app-custom-select
          [options]="languages"
          [selected]="createBrandForm.get('language')?.value"
          (optionSelected)="onLanguageSelected($event)"
        ></app-custom-select>
      </div>

      <div class="input-group">
        <label>Zona Horaria</label>
        <app-custom-select
          [options]="timezones"
          [selected]="createBrandForm.get('timezone')?.value"
          (optionSelected)="onTimezoneSelected($event)"
        ></app-custom-select>
      </div>
    </div>
  </form>

  <div class="form-actions">
    <button 
      type="submit" 
      class="btn-submit" 
      [class.loading]="loading"
      (click)="onSubmit()"
    >
      {{ loading ? 'Creando...' : 'Crear Marca' }}
    </button>
    
  </div>

</div>
